.container-table{
    margin: 0;
    box-shadow: inset 0 0 10px #000000;
    overflow-x: scroll; 
    overflow-y: scroll;
    max-height: 100vh;
}

.candidate{
    padding: 15px;
    padding-left: 570px;
}

.candidate-name{
    text-align: center;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 40%);
    font-weight: 800;
}

.round-1{
    width: 450px;
    text-align: center;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 40%);
    font-weight: 800;
}

.container{
    margin-top: 100px;
    margin-left: 1050px;
    max-width: 220px;
    max-height: 150px;
}

.rejected-by-client{
    min-width: 110px;
    text-align: center;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 40%);
    font-weight: 800;
}

.close{
    margin: auto;
}

.btn-reason{
    height: 20px;
    padding-bottom: 23px;
    padding-left: 10px;
    margin-right: 4px;
    width: 60px;
}

.font-reason{
    font-size: small;
}

.candidate:hover{
    text-decoration: underline;
    cursor:pointer;
}

.border-reason{
    border-radius: 8px;
}

.job-id{
    min-width: 100px;
    text-align: center;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 40%);
    font-weight: 800;
}

.job-id-icon{
    text-align: center;
    width: 30px;
    height: 30px;
}

.client-pov-icon{
    text-align: center;
    width: 25px;
    height: 25px;
    margin-left: 23px;
    margin-bottom: 3px;
}

.assigned-icon{
    width:55px;
    height: 25px;
    margin-left: 13px;
}

.company-name{
    min-width: 150px;
}

.forwarded{
    min-width: 150px;
    text-align: center;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 40%);
    font-weight: 800;
}

.background-color{
    color: black;
    /*background: #6590df;*/
    /*background-color: #76a3f7;*/
    /*background-color: #83abf5;*/
    box-shadow: inset 0 0 0 #000000;
    border-radius: 10px;
}

/*.background-color:hover{
    /*background: #6590df;*/
    /*background-color: #76a3f7;*/
    /*background-color: #6a96e9;
}*/

.forwarded-yes{
    min-width: 150px;
}

.dxc{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 40%);
    font-weight: 500;
}

.sohail{
    text-transform: capitalize;
    font-family:'Courier New', Courier, monospace;
    font-style: oblique;
    font-weight: 700;
    font-size: large;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 30%);
}

.client{
    min-width: 100px;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 40%);
    font-weight: 800;
}

.assigned{
    min-width: 90px;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 40%);
    font-weight: 800;
}

.assigned-yes{
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 40%);
}

.forwarded-yes{
    text-align: center;
}

.verified{
    text-align: center;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 40%);
    font-weight: 800;
}

.selected{
    min-width: 80px;
    text-align: center;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 40%);
    font-weight: 800;
}

.rejected{
    text-align: center;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 40%);
    font-weight: 800;
}

/*.change-color{
    background-color: rgb(198, 218, 236);
}*/

/*.table-background-color{
    /*background-color: rgb(210, 241, 231);*/
    /*background-color: rgb(248, 245, 240);
}*/

.verified-set{
    width: 23px;
    height: 23px;
}

.rejected-set{
    width: 20px;
    height: 20px;
}

.pending-set{
    width: 20px;
    height: 20px;
}

.round-1-result{
    text-align: center;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 40%);
    font-weight: 800;
}

.round-2-result{
    min-width: 90px;
    text-align: center;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 40%);
    font-weight: 800;
}

.round-3-result{
    min-width: 90px;
    text-align: center;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 40%);
    font-weight: 800;
}

.round-2{
    text-align: center;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 40%);
    font-weight: 800;
}

.round-3{
    text-align: center;
    text-shadow: 3px 2px 6px rgb(0 0 0 / 40%);
    font-weight: 800;
}

.round-1{
width: 130px;    
}

/*.dropdown{
    margin-left: 30px;
}*/